.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #4f46e5;
  color: white;
}

.navbar button {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
